/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@theme {
  --color-dracula-bg: #282a36;
  --color-dracula-current: #44475a;
  --color-dracula-fg: #f8f8f2;
  --color-dracula-comment: #6272a4;
  --color-dracula-cyan: #8be9fd;
  --color-dracula-green: #50fa7b;
  --color-dracula-orange: #ffb86c;
  --color-dracula-pink: #ff79c6;
  --color-dracula-purple: #bd93f9;
  --color-dracula-red: #ff5555;
  --color-dracula-yellow: #f1fa8c;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #282a36;
  color: #f8f8f2;
  min-height: 100vh;
}
